{% extends 'base.html.twig' %}

{% block title %}{{'register_2'|trans}}{% endblock %}

{% block main %}
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-left bg-transparent">
                                <h3 class="font-weight-bolder text-info text-gradient">{{'welcome'|trans}} !</h3>
                                <p class="mb-0">{{'register_paragraph'|trans}}</p>
                            </div>

                            <div class="card-body">
                                    <div class="mb-3">
                                        {{ form_row(registrationForm.prenom) }}
                                    </div>


                                    <div class="mb-3">
                                        {{ form_row(registrationForm.nom) }}
                                    </div>

                                    <div class="mb-3">
                                        {{ form_row(registrationForm.email) }}
                                    </div>

                                    <div class="mb-3">
                                        {{ form_row(registrationForm.plainPassword) }}
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">{{'confirm'|trans}} l'{{'register_2'|trans}}</button>
                                    </div>
                            </div>

                            <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                <p class="mb-4 text-sm mx-auto">
                                    {{'already_have_account'|trans}}
                                    <a href="{{path('app_login')}}" class="text-info text-gradient font-weight-bold">{{'login'|trans}}</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                            <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('../assets/img/curved-images/curved{{random(0, 16)}}.jpg')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
